{% extends 'main/base.html' %}


{% block title %}
Create
{% endblock %}


{% block content %}
        <h1>Додати книгу:</h1>
        <form method="post">
                {% csrf_token %}
                <label for="title"><b>Назва книги</b></label>
                {{ form.title }}
                <label for="author"><b>Автор</b></label>
                {{ form.author }}
                <label for="text"><b>Опис</b></label>
                {{ form.text }}
                <label for="published"><b>Рік видання</b></label>
                {{ form.published }}
                <label for="count"><b>Кількість книжок</b></label>
                {{ form.count }}
                <button type="submit" class="btn btn-success">Додати</button>


        </form>
{% endblock %}